language = "python3"
modules = ["python-3.11", "python-3.10"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "libsodium", "postgresql"]

[env]
REPLIT_PYTHON_PACKAGE_LAYER = "1"

# This is the primary command that runs when you press the "Run" button.
# It will also be used for deployment.
run = "python3 main.py"

# Background processes
[[processes]]
name = "cloudflare-tunnel"
command = "cloudflared tunnel --url http://localhost:5000 run --token $CLOUDFLARE_TUNNEL_TOKEN"

# This section tells Replit which port to expose to the web.
[[ports]]
localPort = 5000
externalPort = 80