
language = "python3"
run = "python3 main.py"

modules = ["python-3.11", "python-3.10"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "libsodium"]

[workflows]
runButton = "Main App"

[env]
REPLIT_PYTHON_PACKAGE_LAYER = "1"

[deployment]
run = ["sh", "-c", "gunicorn --bind 0.0.0.0:8080 --workers 1 --timeout 30 main:flask_app"]

[[ports]]
localPort = 8080
externalPort = 80

[[workflows.workflow]]
name = "Main App"
author = 27178458
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"
